---
layout: global
title: Defence Housing Australia
permalink: /dha/
projectTitle: Defence Housing Australia
image: dha_thumb.jpg
image-alt: Defence Housing Australia website preview
projectDesc: While working at Defence Housing Australia (DHA), I helped redesign and development DHA's public-facing website, DHA's online services application, and assist in designing interfaces for various other applications and systems.
projectURL: <a class="project-link-url" target="_blank" href="https://www.dha.gov.au">dha.gov.au</a>
---
{% include project-detail.html %}
<div class="container">

     <h2>Kiosk Application UI design</h2>
    <p>Creation of a kiosk application user interface for DHA members to use at DHA member centers</p>
    <div class="row mt-3">
        <div class="col">
            <img alt="Screenshot of Defence Housing Australia website, showing the design of the main shop page" src="/assets/img/full/dha-kiosk.jpg" class="img-fluid">
        </div>
    </div>

    <h2>Web App UI design</h2>
    <p>User Interface design of DHA's online services based on user needs of Australian Defence Force members.</p>
    <div class="row">
        <div class="col">
            <img alt="Screenshot of Defence Housing Australia website, showing the design of the main shop page" src="/assets/img/full/dha-os.jpg" class="img-fluid">
        </div>
    </div>

    <h2>Website design and front-end development</h2>
    <p>Design of DHA's public website to align with DHA's Online services style and modernise DHA's online brand.</p>
    <div class="row">
        <div class="col mb-5">
            <img alt="Screenshot of Defence Housing Australia website, showing the design of the homepage" src="/assets/img/full/dha-home-full.jpg" class="img-fluid img-border">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img alt="Screenshot of Defence Housing Australia website, showing the design of the main shop page" src="/assets/img/full/dha-content-2.jpg" class="img-fluid">
        </div>
    </div>
    
   
    {% include project-nav-footer.html %}
</div>