---
layout: global
title: The Cove
permalink: /the-cove/
projectTitle: The Cove
image: cove_thumb.jpg 
image-alt: The Cove website preview
projectDesc: The Cove is an online professional development network for the Australian Army. This project involved the full design and development of the Cove website.
projectURL: <a class="project-link-url" target="_blank" href="https://www.cove.org.au/" >Visit the Cove website</a>
---

{% include project-detail.html %}
<div class="container">
<div class="row">
    <div class="col mb-5">
        <img alt="Screenshot of The Cove website, showing the design of the homepage" src="/assets/img/full/cove_01.jpg" class="img-fluid">
    </div>
</div>
<div class="row">
    <div class="col">
        <img alt="Screenshot of The Cove website, showing the design of a content page" src="/assets/img/full/cove_02.jpg" class="img-fluid">
    </div>
</div>

{% include project-nav-footer.html %}

</div>