---
layout: global
title: Guest Designs
permalink: /guest-designs/
projectTitle: Guest Designs
image: guestdesigns_thumb.jpg 
image-alt: Guest Designs website preview
projectDesc: A brochure website created for a local building company in Canberra. This project included the design and development of the Guest Designs website, including logo creation.
projectURL: <a class="project-link-url" target="_blank" href="http://www.guestdesigns.com.au/" >guestdesigns.com.au</a>
---


{% include project-detail.html %}
<div class="container">
<div class="row">
    <div class="col mb-5">
        <img alt="Screenshot of Guest Designs website, showing the design of the homepage" src="/assets/img/full/guestdesigns-home.jpg" class="img-fluid">
    </div>
</div>
<div class="row">
    <div class="col">
        <img alt="Screenshot of Guest Designs website, showing the design of a content page" src="/assets/img/full/guestdesigns-content.jpg" class="img-fluid">
    </div>
</div>

{% include project-nav-footer.html %}

</div>