---
layout: global
title: Defence Community Hub
permalink: /dch/
projectTitle: Defence Community Hub
image: dch_thumb.jpg 
image-alt: Defence Community Hub website preview
projectDesc: An online resource for ADF members and their families to find information on their posting location. This project involved the full design and development of a website using Drupal 7 (GovCMS distribution).
projectURL: <a class="project-link-url" target="_blank" href="https://www.defencecommunityhub.org.au" >Visit Defence Community Hub website</a>
---

{% include project-detail.html %}

<div class="container">
<div class="row">
    <div class="col mb-5">
        <img alt="Screenshot of Defence Community Hub website, showing the design of the homepage" src="/assets/img/full/dch-home.jpg" class="img-fluid">
    </div>
</div>
<div class="row">
    <div class="col">
        <img alt="Screenshot of Defence Community Hub website, showing the design of a content page" src="/assets/img/full/dch-content.jpg" class="img-fluid">
    </div>
</div>

{% include project-nav-footer.html %}

</div>