---
title: Urban Roasters
date: 2018-11-11 00:00:00 Z
permalink: "/urbanroasters/"
layout: global
projectTitle: Urban roasters
image: ur_thumb.jpg
image-alt: Urban Roasters website preview
projectDesc: Urban Roasters is a boutique coffee roastery located in Canberra. This
  project involved the design and creation of the Urban Roasters logo along with custom
  graffiti-style artwork. Urban Roasters did not have an existing online presence,
  and so I was in charge of the full design and development of Urban Roaster's online
  coffee store.
projectURL: <a class="project-link-url" target="_blank" href="https://www.urbanroasters.com.au"
  >Visit Urban Roasters website</a>
---

{% include project-detail.html %}
<div class="container">
<h2>Logo design</h2>
<div class="row">
    <div class="col mb-5">
        <img alt="Urban Roasters logo design. The logo features 'UR' text stylised on the right. 'Urban Roasters' text is aligned to the left." src="/assets/img/full/ur-logo.jpg" class="img-fluid">
    </div>
</div>

<h2>Website design and development</h2>
<div class="row">
    <div class="col mb-5">
        <img alt="A screenshot of the Urban Roasters website homepage. The design is dark, with subtle graffiti artwork in the background. The graffiti artwork features a wolf hand that is holding a takeaway coffee cup with 'UR' text branding." src="/assets/img/full/ur-home.jpg" class="img-fluid">
    </div>
</div>

{% include project-nav-footer.html %}
</div>