---
layout: global
title: Defence Housing Australia
permalink: /dha/
projectTitle: Defence Housing Australia
image: dha_thumb.jpg
image-alt: Defence Housing Australia website preview
projectDesc: While working at Defence Housing Australia (DHA), I helped redesign and development DHA's public-facing website, deisgn the UI for DHA's online services application, and assist in designing users interfaces for various other applications and systems.
projectURL: <a class="project-link-url" target="_blank" href="https://www.dha.gov.au">Visit DHA website</a>
---
{% include project-detail.html %}
<div class="container">

      <div class="row pt-5 pb-5">
        <div class="col">
            <img alt="An iPhone mockup that displays DHA's Online Services Application. The application screen shows a user's dashboard which features their current housing accommodation. There are also links to access accommodation options." src="/assets/img/full/dha-mobile-app.jpg" class="img-fluid">
        </div>
        <div class="col">
            <h2>DHA Online Services</h2>
            <p>I was responsible for the redesign of DHA's Online Services. This involved modernising the look and feel, making the interface responsive, and improving the user experience for defence members by addressing user pain points. Consistent feedback from users told us the interface was difficult to navigate and users could not find what they needed to access. 
</p>
            <p>The new UI addressed common user needs, such as:
                <ul>
                    <li>make it easy for me to view my current housing solution, so I know my housing information.</li>
                    <li>make it easy for me to apply for things, so I can get my benefits.</li>
                    <li>make it easy for me to find new properties, so I have a place to live when I'm deployed.</li>
                </ul>
            </p>
        </div>
    </div>


    <div class="row pt-5 pb-5">
        <div class="col">
            <h2>Kiosk App UI</h2>
            <p>Sometimes defence members don't have internet access and/or reliable internet connection when deployed to regional areas. As DHA's Online Services is primarily online, it became increasingly apparent that users needed access to DHA's online services when visting a regional DHA Member Service branch.</p>
            <p>We spoke to users in regional areas, and asked them how we might help make access to online services easier for them. We found that there was a desire for users to be able to do tasks themselves, but still get help if needed. It was discovered that brining in kiosks (locked-down iPad on a stand) to reigonal DHA Member Service branches would most likely be the best solution for users.</p>
            <p>The kiosk would house DHA's online services application, and provide quick access to defence memeber-specific information without being in an authenticated space. A simple Kiosk UI interface was designed; this worked well with users and they were able to successfully find the information that they were after OR login to their DHA Online Services account. </p>
        </div>
        <div class="col" style="text-align: right">
            <div class="video-container">


                <video width="640" height="360" controls>
  <source src="/assets/img/full/Final_HowToScanDocuments.mp4" type="video/mp4">
  
  Your browser does not support the video tag.
</video>







            </div><a href="/how-to-scan-video-transcript.html">Video text transcript</a>
        </div>
    </div>
    <img alt="User interface design of Defence Housing Australia's Kiosk app. The design is presented on an iPad mockup. The design shows the landing page of the app, which features a house in the background with beautiful autumn leaves. There are four options presented to the user: Login now, what can I do, How to use and Location Spotlight." src="/assets/img/full/dha-kiosk.jpg" class="img-fluid">
  
    <div class="row pt-5 pb-5">
        <div class="col">
            <img alt="Screenshot of Defence Housing Australia's Online Services application" src="/assets/img/full/dha-os.jpg" class="img-fluid"></div>
        <div class="col">
            <img alt="Defence Housing Australia's Online Services app showing the UI for where users can search for new homes." src="/assets/img/full/dha-homefind.jpg" class="img-fluid">
        </div>
    </div>
    <div class="row pt-5 pb-5">
        <div class="col-4">
            <h2>DHA public website</h2>
            <p>DHA's Online Services's user interface was updated, so there was a need (from a branding perspective) to align the design of the DHA public website to be consistent with DHA'S Online Services.</p>
            <p>I was the project lead and liaised with different areas of DHA to ensure that requirements were being met when redesigning the website. As DHA is a government website, it was important for the website to adhere to WCAG 2.0 Accessibility guidelines. To ensure the DHA website met WCAG 2.0, content changes and semantic code changes were a fundamental part of this project.
 </p>
        </div>
        <div class="col">
            <img alt="Screenshot of Defence Housing Australia website, showing the design of the homepage" src="/assets/img/full/dha-home-full.jpg" class="img-fluid img-border">
        </div>
    </div>
    <img alt="Screenshot of Defence Housing Australia website, showing the design of a property listing page" src="/assets/img/full/dha-content-2.jpg" class="img-fluid">
    {% include project-nav-footer.html %}
</div>