---
title: Urban Roasters
date: 2018-11-11 00:00:00 Z
permalink: "/urbanroasters/"
layout: global
projectTitle: Urban roasters
image: ur_thumb.jpg
image-alt: Urban Roasters website preview
projectDesc: Urban Roasters is a boutique coffee roastery located in Canberra. This
  project involved the design and creation of the Urban Roasters logo along with custom
  graffiti-style artwork. Urban Roasters did not have an existing online presence,
  and so I was in charge of the full design and development of Urban Roaster's online
  coffee store.
projectURL: <a class="project-link-url" target="_blank" href="https://www.urbanroasters.com.au"
  >Visit urbanroasters.com.au</a>
---

{% include project-detail.html %}
<div class="container">


<h2>Website design and development</h2>
<p>I built a highly-customised e-commerce website for Urban Roasters. The website helps people easily purchase once-off coffee and coffee subscription orders online.</p>
<p class="mb-5">I also designed the theme and suite of user interface patterns for Urban Roasters, ensuring a consistent look and feel across their e-commerce platform.</p>
<div class="row">
    <div class="col mb-5">
        <img alt="A screenshot of the Urban Roasters website homepage. The design is dark, with subtle graffiti artwork in the background. The graffiti artwork features a wolf hand that is holding a takeaway coffee cup with 'UR' text branding." src="/assets/img/full/ur-website-home.jpg" class="img-fluid">
    </div>
</div>

<h2>Logo design</h2>
<p class="mb-5">I designed a unique logo for Urban Roasters. The "UR" logo mark subtley hints at coffee beans with the applied shape, while also incorporating the initials of the business name (Urban Roasters).
    <div class="col mb-5">
        <img alt="Urban Roasters logo design. The logo features 'UR' text stylised on the right. 'Urban Roasters' text is aligned to the left." src="/assets/img/full/ur-logo.jpg" class="img-fluid">
    </div>
</div>

{% include project-nav-footer.html %}
</div>