---
layout: global
title: Frontier
permalink: /frontier/
projectTitle: Frontier
image: ea-frontier_thumb.jpg
image-alt: Engineers Australia Frontier website preview
projectDesc: Frontier is an online resource for student and graduate members of Engineers Australia. I was responsible for the full website design and development.
projectURL: <a class="project-link-url" target="_blank" href="https://frontier.engineersaustralia.org.au" >frontier.engineersaustralia.org.au</a>
---

{% include project-detail.html %}
<div class="container">
<div class="row">
    <div class="col mb-5">
        <img alt="Screenshot of the Frontier website, showing the design of the homepage" src="/assets/img/full/frontier-home.jpg" class="img-border img-fluid">
    </div>
</div>
<div class="row">
    <div class="col">
        <img alt="Screenshot of the Frontier website, showing the design of the main shop page" src="/assets/img/full/frontier-content.jpg" class="img-fluid">
    </div>
</div>

{% include project-nav-footer.html %}
</div>