---
title: Digital Identity website
permalink: "/digitalidentity/"
layout: global
projectTitle: Digital Identity website
image: digitalidentity-thumb.jpg
image-alt: Digital Identity website preview
projectDesc: While working at the Digital Transformation Agency, I was the User Experience Design lead, and lead Developer for the Digital Identity website project (putting on my unicorn hat!). Working together with stakeholders, I provided guidance on best-practice, and developed the entire site in Drupal 8. The website was successfully launched in November 2020.<br/></br>



projectURL: <a class="project-link-url" target="_blank" href="https://www.digitalidentity.gov.au"
  >Visit digitialidentity.gov.au</a>
---

{% include project-detail.html %}



<div class="container">
<p class="lead">An exciting project to be a part of. Building the official public website for the Australian Government's Digital Identity was very rewarding.</p>

<h2>Website design and development</h2>

<p>The Digital Identity website was developed using Drupal 8. The design and theme was customised using the Australian Government Design System as guidance, ensuring that WCAG 2.1 Guidelines (Level AA) were adhered to. Making sure content is accessibile should always be a top priority for any website project. </p>

<p class="mb-5">The website content, information architecture, and the overall website structure was tested with users to see if users could successfully (and easily) find the information they were seeking. With the user research findings, we were able to make evidence-based content changes. It was extremely valuable to be able to test with users and get insights that we wouldn’t have known had we only tested with internal users.</p>

<div class="row">
    <div class="col mb-5">
        <img alt="Screenshot of Digital Identity website, showing the design of the homepage" src="/assets/img/full/digitalidentitywebsite-home.jpg" class="img-fluid">
    </div>
</div>





{% include project-nav-footer.html %}

</div>