@import "./_scss/bootstrap4.scss";


@import "./pancake/sass/pancake.scss";


$jess-brand: #790D82;
$jess-secondary: #16BAC5;
$jess-secondary-light:#ACECE5;
$jess-dark:#320E3B;
$jess-light:#E0FBFC;
$jess-gray:#E6EFE9;
$blue:#A0DDFF;
$aqua:#16BAC5;
$main-bg: #D8D8F6;


[tabindex="-1"] {
    outline: none;
}


html,
.au-body {

    background: $jess-dark
}

.au-body {
    #main-content {
        //background: #f8f9fa;
        background: #fff;
        padding-bottom: 100px;
    }

    a {

        color: $jess-brand;
    }


 


    [tabindex="-1"] {
        outline: none;
    }

    .project-link-url {
        display: inline-block;
    }

    h1 {
        margin: 0;
    }

    h1,
    h2,
    h3 {
        color: $jess-dark;
    }

    .project-desc {
        h2 {
            font-size: 1.6rem;
        }

    }


    .page-nav {

        background: $jess-light;
    }

    .round-thumb {
        width: 30rem;
        height: 30rem !important;
        border-radius: 50%;
        margin: 20px;
        position: relative;
        object-fit: cover;

        object-position: center right;
    }

    .page-title {
        padding: 5px 15px;
        background: $main-bg;

        img {
            height: 30rem;

            @media (min-width: 1281px) {
                height: 35rem;
            }
        }

        .container {

            @media (max-width: 801px) {
                max-width: 100%;
            }
        }

        &.featured {
            background: rgb(216, 216, 246);
            background: linear-gradient(180deg, rgba(216, 216, 246, 1) 56%, rgba(255, 255, 255, 1) 56%);

            @media (min-width: 1281px) {
                background: linear-gradient(180deg, rgba(216, 216, 246, 1) 63%, rgba(255, 255, 255, 1) 63%);

            }

            h1 {

                text-align: right;
                font-size: 2rem;
                text-transform: uppercase;
                line-height: 1;
                float: right;

                @media (min-width: 600px) {
                    font-size: 3rem;
                }

                @media (min-width: 1281px) {
                    font-size: 6rem;
                }
            }
        }


    }

    .au-footer {
        background: $jess-dark;
        color: #fff;
        border-top-width: 6px;
    }

    h2 {
        margin-bottom: 1.5rem;

    }

    .img-border {
        border: 1px solid #f1f1f1;
    }

    .site-header {
        background: $jess-brand;

        a {
            color: #fff;text-decoration: none;
            
            font-size: 1.6rem;

            &:hover,
            &:focus {
               text-decoration: underline; 
                color:$jess-secondary-light
            }
        }

        a.logo {

            img {
                height: 5rem;
                width:auto;

                @media (min-width: 801px) {
                    height: 6rem;
                }
            }
        }
    }



    a.card {

        border-width: 3px;
        border-radius: 0;

        &:hover,
        &:focus {

            border-color: $jess-secondary;
        }
    }

    .au-skip-link__link:active,
    .au-skip-link__link:focus {

        color: #000;
        background: $jess-secondary;
    }

    .au-footer {
        border-top-color: $jess-brand;
    }

    .intro {

        border-bottom: 3px dashed #ddd;
    }

    p.lead {
        font-size: 1.5rem;
        font-weight: normal;
        // max-width: 100% !important
    }
}


.video-container {
  position: relative;
  padding-bottom: 56.25%; /*16:9*/
  padding-top: 30px; 
  height: 0; 
  overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}