<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Jessica Chapman</title>
    <meta name="description" content="Jessica Chapman's online portfolio, interaction designer and front-end developer">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <link rel="icon" type="image/png" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" media="all" href="/assets/css/jesstyles.css?{{site.time | date: '%s%N'}}">

</head>

<body class="au-body">
    <nav class="au-skip-link" aria-label="skip links navigation">
        <a class="au-skip-link__link" href="#main-content">Skip to main content</a>
        <a class="au-skip-link__link" href="#nav">Skip to main navigation</a>
    </nav>
    <div class="site-header sticky-top ">
        <div class="container py-1 d-flex flex-column flex-md-row align-items-center">
            <a class="navbar-brand logo align-self-center my-0 mr-md-auto " href="/">
                <img src="/assets/img/jessicachapmanlogo-inverse.png" class="d-block" alt="Portfolio" />
            </a>
            <nav id="nav" tabindex="-1" aria-label="skip links navigation" class="my-2 my-md-0 mr-md-3">
                <a class="mr-5 align-self-center" href="/about">About</a>
                <a class="align-self-center" href="mailto:hello@jessicachapman.com">Contact</a>
            </nav>
        </div>
    </div>
    <main id="main-content" tabindex="-1" role="main" class="clearfix">
        {{ content }}
    </main>
    <footer class="au-footer au-body" role="contentinfo">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <p>&copy; Jessica Chapman, 2019.</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>